@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<form action="./Home/Login" method="post">
    Username:
    <input type="text" name="username" /><br />
    Password:
    <input type="password" name="password" /><br />
    <input type="submit" value="login" />
    <div class="g-signin2 pull-right" data-onsuccess="onSignIn"></div>
</form>
